body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    
}
.container{
    padding: 1em;
    background-image: linear-gradient(to bottom right, red, yellow);
}
#result{
    width: 10px;
    height: 10px;
}
@media screen and (min-width: 500px){
    body{
        background-image: linear-gradient(to bottom right, red, yellow);
    }
    .container{
        padding: 5em;
     }
}